<%= form_for([@message, @message.comments.build]) do |f| %>
  <div class="field">
    <%= f.label :content, "评论内容" %><br>
    <%= f.text_area :content, rows: 5, cols: 100, placeholder: "写一些回复评论......" %>
  </div>
  <br />
  <div><%= f.submit "提交评论", class: "btn-custom" %></div><br />
<% end %>
  