<div class="col-md-8 col-md-offset-2">
  <h1>Edit Comment</h1>
  <%= form_for([@message, @comment]) do |f| %>
    <div class="form-group">
      <%= f.label :content, "Content" %><br>
      <%= f.text_area :content, class: "content-text", rows: 5, cols: 100 %>
    </div>
    <div class="form-activ">
      <%= f.submit "创建评论" %>
    </div>
  <% end %>
</div>